@model  AdamsFirstMVC.DAL.BandsUnitOfWork
@{
    ViewBag.Title = "Bands";
    Layout = "~/Views/Shared/_LayoutMandMHome.cshtml";
}


<div class="jumbotron" id="inherit-background">
    <h1>
        Bands:
    </h1>
</div>


<div id="smaller-content-helper" class="Band-content-helper">

    @foreach (var item in Model.BandImageRepository.GetAll())
    {
        <div class="row">
            <h2>@item.BandImageName</h2>
            <div class="col-lg-12 col-sm-12 col-xs-12">
                @* replace the # symbols below with a url to have them link to another page or site. *@
                <a href="@item.BandHref">
                    <img src="@item.BandImageSrc" alt="@item.BandImageAlt" class="thumbnail img-responsive">
                </a>
            </div>
        </div>
    }
 
    
</div>
<div id="larger-content-center-helper" class="Band-content-helper">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @* BAD MONKEY *@
            @{ var collage = Model.CollageRepository.GetByID(1);}
            <img class="thumbnail img-responsive" src="@collage.CollageSrc" alt="@collage.CollageAlt" usemap="#collageMap">
            <map name="collageMap">
                @foreach (var item in Model.ClickableAreaRepository.GetAll())
                {
                    //BAD MONKEY
                    if (item.CollageID == 1)
                    {
                        <area class="area1" shape="@item.ClickableAreaShape" coords="@item.ClickableAreaCoordinates" href="@item.ClickableAreaHref" alt="@item.ClickableAreaAlt" />
                    }
                }
            </map>
        </div>
    </div>
</div>

